[2014-10-18 14:42] mcgwebdesign opened #1 "Missing argument 3 for ACFtoWPAPI::addACFDataTerm()"
Hey,

I'm seeing this error popup pretty frequently in my new relic logs. Any idea what may be causing it?

http://screencast.com/t/wkGxkuee75Yz

Running latest version of wordpress.

[2014-10-18 15:10] aendra-rininsland commented on #1
@mcgwebdesign We're taking a look at this plugin today, will let you know if we run across it.

[2014-10-18 17:37] aendra-rininsland commented on #1
Confirming bug.

[2014-11-03 23:51] mcg88 commented on #1
Any update on this?

[2015-02-09 11:17] chrishutchinson commented on #1
Just a note that this should have been fixed.

@mcgwebdesign could you check your New Relic logs again after pulling the latest version of the plugin?

[2015-02-09 11:59] chrishutchinson opened #4 "Submit to WordPress Plugin Directory"
Will be doing this today

[2015-02-09 12:27] chrishutchinson commented on #4
Submitted initial request - currently pending review from WordPress

[2015-02-09 13:45] aendra-rininsland commented on #4
Woop woop! Now you too can have people wonder why your README is in `.txt` and not `.md`! :smile:

[2015-02-09 13:45] aendra-rininsland commented on #4
(Speaking of which — you submitted your README as .txt, right? :wink: )

[2015-03-06 19:29] sheriffderek opened #6 "/posts, /pages, /options coming up 500"
/wp-json pulls up all of the routes, but /posts, /pages, /options are coming up 500 when I have this plugin installed.

Some discussion over here, might pertain: https://github.com/WP-API/WP-API/issues/475

Seems like a few days ago this started happening.

Any ideas?

[2015-03-06 20:09] chrishutchinson commented on #6
Will take a look, are there any error messages reported in your server logs?

[2015-03-06 21:09] chrishutchinson commented on #6
I've not been able to reproduce the issue on an entirely clean version of:
- WordPress v4.1.1
- ACF v4.4.0
- WP-API v1.1.1
- ACF to WP-API v1.1.0

I'm not ruling out this plugin though, it's very possible it's still causing the issue! Getting both some server error logs and version numbers of all the plugins you're running should help us get to the bottom of this.

[2015-03-07 17:24] gino8080 opened #7 "Is it possibile to EDIT / CREATE acf fields using this plugin?"
I'm getting mad tryng to save / edit custom metas or acf metas using the wp-rest-api

i know i can create s SINGLE meta with
POST /posts/<id>/meta

or update using
PUT /posts/<id>/meta/<mid>

but I want to update multiple at once

I know the pods plugin https://github.com/pods-framework/pods-json-api does it

please anyone caa help?

thank you!

[2015-03-07 18:07] sheriffderek commented on #6
Thanks for making me retrace my steps again. Turned out that the ACF was deactivating itself for some reason. Reinstallation of 5.2 got everything back to normal. Thank you for your time.

The issue was not caused by this plugin, just some whacky mystery.

[2015-03-07 18:07] #6 closed

[2015-03-08 10:20] chrishutchinson commented on #6
Excellent, glad the problem is solved, and that you're finding the plugin useful!

[2015-03-08 15:50] chrishutchinson commented on #7
This isn't able to update multiple metas at once, are you trying to avoid having to make multiple PUT/POST requests to the WP API (as that would be the current solution, looping through those you want to add / update)?

As the core WP API plugin offers the ability to update meta, I don't see much value in extending this plugin to offer that functionality, I would suggest adding the ability to upda

[2015-03-08 16:45] chrishutchinson commented on #4
Woop! https://wordpress.org/plugins/acf-to-wp-api/

[2015-03-08 16:45] #4 closed

[2015-03-08 18:24] aendra-rininsland commented on #4
:tada: :shipit: :boom: Congrats!

[2015-03-08 19:24] MattieTK commented on #4
Yay :+1:

[2015-03-09 09:52] gino8080 commented on #7
yeah thank you i would like to avoid the multiple PUT/POST requests to the WP API

as I understood this is a security decision from the WP-API team
to avoid multiple metas editing..
don'w know why? :(

for now I've solved using a simple ajax wordpress function something like:

[code]

thank you very much !
Gino

[2015-03-09 14:36] chrishutchinson commented on #7
I'll keep an eye out for any changes to the core WP-API plugin, but I suspect they have very good reason for only allowing the editing of single metas.

I'm going to close this specific issue for now, however will bear it in mind for future enhancements.

[2015-03-09 14:36] #7 closed

[2015-03-15 10:15] chrishutchinson commented on #1
@mcgwebdesign just checking up if you've been able to take a look at your logs?

[2015-04-07 18:36] will83 opened #8 "No data for endpoint /wp-json/posts/33"
I have all acf datas in /wp-json/posts?type=actualite (archive) but not in /wp-json/posts/33 (singular)
I'm using ACF Pro. Any idea ? Thanks !

[2015-04-10 08:53] chrishutchinson commented on #8
Sorry you're having trouble with the plugin!

I'm not able to reproduce this issue, although I'm not using ACF Pro which is probably why.

It'll be a few days before I can spend any more time on it, but I'll do a more thorough test of the plugin with ACF Pro to see if I can find the cause of the problem you're having.

[2015-04-26 21:01] rfverde1 opened #10 "post data back into acf?"
I am building an ios client for the WP API, I am able to read the values from the 'acf' key that comes with the post without any issues. What I am trying to figure out is how to have wordpress save the updates I send back on the custom fields.

Do you have any idea or clue of what filters would allow me  to iterate over the items on the acf array and save their updated values?

[2015-04-26 21:15] chrishutchinson commented on #10
Hi there,

You should be able to make a standard POST request to `/wp-json/posts/{id}/meta/{mid}` (authorization is required) with the following data: `data[value]={value}`

Where:
- `{id}` = post ID
- `{mid}` = the meta ID
- `{value}` = the value you wish to set!

I'll close this as it's not an issue with the plugin itself, but feel free to comment on this issue with further related questions, or

[2015-04-26 21:15] #10 closed

[2015-05-11 09:09] apsolut opened #11 "ACF Image size"
Can we somehow output Custom Image Size, so its not original (image) url in Output of ACF?

[2015-05-11 09:14] chrishutchinson commented on #11
I've just tested this and you are already able to do this via ACF (see attached screenshot of example ACF data in the WP-API json output). This allows you to get a full listing of all available image sizes, under the `sizes` key.

To do so, make sure when you set up your `Image` custom field in ACF, you set the _Return Value_ to `Image Object` (see second screenshot).

Let me know if this solves y

[2015-05-11 09:21] apsolut commented on #11
Thanks just realized that, easier and safer for future to use (not to edit json output),
ACF5 is "Image Array"  Thanks @chrishutchinson

[2015-05-11 09:21] #11 closed

[2015-05-14 21:38] t0t opened #12 "I can't access to the data from a "Flexible Content" ACF json object."
Hi,
I'm trying your plugin but I can't access to the data from a "Flexible Content" ACF json object. I can console.log the filelds but can't show totally them in the view.

``{{ product.meta }}`` or ``{{ product.meta }}`` returns the array I need, but I can't deep more. Once there, how can I access to the keys/values from that array?

thanks for this great plugin!,
s.
![captura de pantalla 2015-05

[2015-05-14 21:59] chrishutchinson commented on #12
It's hard to tell exactly @t0t, can you share some more of the code for `productos.html`?

It looks like the data is all there (via this plugin), but the way you're accessing it in AngularJS needs some tweaking.

[2015-05-14 22:01] chrishutchinson commented on #8
@will83 I've now tested this with ACF Pro and haven't been able to reproduce this issue. Can you share any updated progress you've made?

If you're still struggling with it can you share an export of your ACF field configuration?

[2015-05-14 22:02] chrishutchinson commented on #1
I'm closing this as I haven't heard back from you and am not able to reproduce this any more. Please comment or re-open the issue if you are still struggling with it, thanks!

[2015-05-14 22:02] #1 closed

[2015-05-14 22:20] t0t commented on #12
Hey thanks for reply!
Yes, the data is all there, I'm so close to do amazing things... but as web designer I'm a beginner with Angular and MVC's. I'm learning as fast as I can.
Wp-api has changed the paradigma of traditional WP themes and your plugin is the bridge between WP-API+ACF.
I would really appreciate your help on this if you can take a look.
I've pushed this theme here:
https://github.com

[2015-05-16 09:16] chrishutchinson commented on #12
It looks like `acf.product` is an array, so when you're accessing `product.vistas` you actually need to access `acf.product[0].vistas`, or, more likely, as there may be multiple objects in that array, you should iterate over `acf.product`.

Let me know if you've been able to sort it. I'll close this issue though as it's not directly a problem with the plugin itself.

[2015-05-16 09:16] #12 closed

[2015-05-16 09:17] pirony opened #13 "Filter by ACF fields value"
Hi and thanks for this very helpfull plugin!!!
I’m facing an issue with the filtering of posts by custom fields value, using angular. Maybe you can help me?
I thought I could easily do it using:

../wp-json/posts/?type=some_custom_type&filter[X]=Y

But I cant get it to work. Do you know a way to do it?
Many thanks

[2015-05-18 10:02] chrishutchinson commented on #13
Hey @pirony,

This is absolutely possible, however requires you to add the following to your `functions.php` file to allow filtering on the WP-API by `meta_key`.

[code]

Once you added that, you can filter using these arguments

`.../wp-json/posts?filter[orderby]=meta_value_num&filter[meta_key]=order&filter[order]=ASC`

**Usage**
- `filter[orderby]`: Either `meta_value` or `meta_value_num` depend

[2015-05-18 11:09] pirony commented on #13
Hey @chrishutchinson,
thanks for your answer but I still can't get it to work...
I must be doin' it wrong. With my code, it might be easier  to find the problem

Here is my search form directive:

[code]

and here is my search-form template.

[code]

thanks again for your time and help.

edit: the name of my ACF field is "distance".

[2015-05-18 11:12] chrishutchinson commented on #13
Which fields are your custom fields setup in ACF, `distance` and `region`? Or just `distance`?

[2015-05-18 11:13] pirony commented on #13
ahah too fast for me... i edited the previous post a bit late. Region is a custom taxonomy and works well.

[2015-05-18 11:19] pirony commented on #13
[code]

An exemple of a post json datas, if it can help.

[2015-05-18 12:48] chrishutchinson commented on #13
Ah, I think I was thinking about you ordering posts, rather than querying for a specific set.

Try this, which will query posts based on the meta key of 'distance' and the value of '4':

`.../wp-json/posts?filter[meta_key]=distance&filter[meta_value]=4`

[2015-05-18 13:07] pirony commented on #13
I'm sorry, but unfortunately it still doesn't work...
The get request seems to be good in firebug.

<code>.../wp-json/posts?type=events&filter[meta_key]=distance&filter[meta_value]=4</code>

EDIT:
I finally got it to work:

I changed

[code]

to

[code]

And now it works like a charm.
Thanks a lot .Keep up the good work!!!

[2015-05-18 14:35] chrishutchinson commented on #13
Yep - have just been testing and spotted that, I think it's valuable to add both `meta_key` and `meta_value`, but otherwise you should be good to go! Enjoy the plugin!

[2015-05-18 14:35] #13 closed

[2015-05-23 08:38] aendrew opened #14 "Suggestion: Add a CONTRIBUTING.md file or equivalent section to README.md"
In order to improve the quality of issues in the queue, it might help to have a "CONTRIBUTING.md" file, or a section in the README outlining how to best request help. It seems it would be particularly helpful if issue reporters supply the ACF config when submitting bugs — several recent issues have closed due to the reporter not following up with their config, and while that points to a fault on t

[2015-06-26 11:49] intelligence opened #16 "Post object doesn't include ACF fields"
Hey!

Been using this addition for a while, great plugin!
I came across what seems to be a slight problem. If I have a ACF field of the post object variety where I can associate my post with other posts it doesn't seem to include the ACF fields of the included post. Is this expected behavior?

http://www.advancedcustomfields.com/resources/post-object/

![postobject](https://cloud.githubusercontent

[2015-06-26 12:08] chrishutchinson commented on #16
Hey @intelligence,

Great spot - this isn't expected behaviour. I've quickly looked into it, and ACF uses a different approach to get post data for `post_object` field types. I'll take a look and see what progress I can make - I'll update here once I know more.

Cheers!

[2015-06-29 17:29] intelligence commented on #16
@chrishutchinson Cool, great that you're on this! Any ETA? I realize that you're doing this on your spare time. I'm just curious if you imagine you'll have time to take a look in the near future or if it'll be a while.

Thanks!

[2015-06-30 14:20] chrishutchinson commented on #16
Hey,

I've looked into this and there doesn't appear to be any hooks or filters we can use in ACF to add this functionality. Having actually thought about this, I actually do not think it is the best idea, you could potentially get into a situation where there are multiple nested posts – each post having another post associated via ACF. While this is, of course, down the user of the plugin to avoi

[2015-06-30 14:20] #16 closed

[2015-07-06 07:29] lrz-hal opened #17 "Call to undefined function get_fields()"
I installed your plugin in wordpress. unfortunately i get this error

<br />
<b>Fatal error</b>:  Call to undefined function get_fields() in <b>/var/www/web1205/html/MerseburgerApp/wp-content/plugins/acf-to-wp-api/acf-to-wp-api.php</b> on line <b>57</b><br />

My url is .../wp-json/posts?type=tribe_events

Thanks,

Martin

[2015-07-06 07:36] kokarn commented on #17
Have you installed advanced custom fields?

On Mon, Jul 6, 2015 at 9:29 AM lrz-hal notifications@github.com wrote:

[2015-07-06 07:39] lrz-hal commented on #17
Ohh... Thanks for the hint :o)

[2015-07-12 21:10] #17 closed

[2015-08-12 15:00] cpeddecord opened #18 "Nested ACF fields"
Hello! Was wondering if it was possible to get nested ACF fields within a repeater or otherwise. And if possible, how many levels of nesting could one go before it became ludicrous?

[2015-08-21 10:01] yougotashovel commented on #13
Is it possible to filter by a nested meta key and value?  How would i do this?

For example i have 3 scenarios:

[code]

Filtering `key_1` works fine:
`/wp-json/posts?type=customtype&filter[meta_key]=key_1&filter[meta_value]=value`

But i can't find a working result for `key_2` and i'm not sure how to access  `key_3` sub objects. I've tried:
`filter[meta_key]=key_2.sub_key`
`filter[meta_key]=key_2

[2015-08-31 10:16] chrishutchinson commented on #14
Done - https://github.com/times/acf-to-wp-api/blob/master/CONTRIBUTING.md

Woohoo!

[2015-08-31 10:16] #14 closed

[2015-08-31 10:57] chrishutchinson commented on #18
Hey @cpeddecord,

I'm not sure I fully understand what you're expecting. Could you post your ACF configuration and the expected API output?

[2015-08-31 10:58] chrishutchinson commented on #8
Closing this due to inactivity. @will83, please comment again if you're still struggling with this.

[2015-08-31 10:58] #8 closed

[2015-08-31 12:01] chrishutchinson opened #21 "Pages and custom post types issue with WP-API v2"
I need to do more digging into this, but v2.0-beta4 doesn't seem to handle custom post types very well, so no ACF data comes through there yet.

This doesn't affect users with version 1.x of WP-APi.

[2015-09-02 01:24] kmaida opened #24 "Parse error in version 1.3.0"
`Parse error: syntax error, unexpected '[' in acf-to-wp-api/acf-to-wp-api.php on line 403`

Fatal error after updating `acf-to-wp-api` from version `1.2.1` to `1.3.0`; breaks WordPress build until plugin files are removed, or if installing fresh, prevents plugin from being activated. No other plugins updated or changed.

ACF to WP-API 1.3.0
WP-API 1.2.3
WordPress 4.3

Other plugins installed: ACF

[2015-09-02 06:54] #24 closed

[2015-09-02 07:05] chrishutchinson commented on #24
This should be resolved for you now. For reference, the plugin was using the new `[]` notation for arrays, rather than `array()`, which isn't supported in < PHP 5.4.

Hopefully updating the plugin to 1.3.1 will fix this issue for you!

[2015-09-02 11:33] kmaida commented on #24
Thanks!! That explains a lot; my PHP is a few years rusty and I'm a JavaScript developer, which would be why I couldn't find anything wrong when I tried to fix it to submit a pull request. ;) Again, thanks for quick response!

[2015-09-04 18:04] cpeddecord commented on #18
Hey @chrishutchinson!

the post I'm looking at spits out its json similar to this (other keys removed for brevity):

[code]

In an ideal world, the nested post (ID: 456) in the flexible content would also return its own acf field as well.

[code]

[2015-09-05 00:12] wkw commented on #21
Is this related to custom post types having to opt-in to the rest api?

`show_in_rest=true`

[https://github.com/WP-API/WP-API/issues/1195](https://github.com/WP-API/WP-API/issues/1195)

[2015-09-10 11:54] sirMuffles91 opened #25 "Fatal error with get_fields()"
I have installed this plugin on my wordpress site and im trying to just call what I was before I installed: http://examplesite.com/tna_wp/wp-json/posts?filter[category_name]=lifestyle&filter[posts_per_page]=100

but I am receiving this error
<b>Fatal error</b>:  Call to undefined function get_fields() in <b>/var/www/examplesite.com/tna_wp/wp-content/plugins/acf-to-wp-api/acf-to-wp-api.php</b> on l

[2015-09-10 11:55] chrishutchinson commented on #25
Have you got ACF installed? `get_fields()` is a function registered by ACF. That error would suggest ACF isn't installed or enabled on your site.

[2015-09-10 11:58] sethvanstaden91 commented on #25
Aha I see that I misunderstood the plugin. I am just trying to get the custom fields output from featured video. Will play around with ACF. Thanx

[2015-09-10 17:50] aderaaij commented on #21
@wkw It doesn't seem so. Enabling the show_in_rest=true enables the custom post type in the REST API but these posts do not include any ACF data. I'll have a look in the plugin code, but any pointers would be greatly appreciated.

edit: I've had a quick glance and it seems that the register function is only working for the post type `post` and none other. If I add a register function and correspon

[2015-09-10 19:58] chrishutchinson commented on #21
Hey @aderaaij,

Thanks for clarifying that. I've actually been planning to add code very similar to the above for the past week or so, and have an almost-completed version running of my machine at the moment.

I've not yet had chance to finish it off and push it up. Happy for you to do a PR as long as everything is commented, indented and structured as per the rest of the repo.

If you don't get c

[2015-09-11 07:06] #25 closed

[2015-09-14 11:39] richardmax commented on #21
Any joy on this Chris? ie. adding code to core?

[2015-09-14 15:43] aderaaij commented on #21
@chrishutchinson that's perfect! I haven't done the PR request yet as I'm just a front-ender faking PHP skills, but I was wondering the follow though: Is there a particular reason why you've written separate functions for getting the page, posts, etc? I'm thinking `$types = get_post_types(array('public'   => true,'_builtin' => true));` would work just as well?

[2015-09-14 19:19] adamsoffer commented on #21
Thanks @aderaaij ! Saved me some trouble :+1:

[2015-09-14 19:35] chrishutchinson commented on #21
Thanks for all feedback / suggestions everyone - aiming to have this sorted in the plugin this week, will keep you all posted! :+1:

[2015-09-16 13:48] nevace commented on #21
Thanks @aderaaij, this was frustrating me all day, thought I was doing something wrong. For now I'm using your version but will change over when the plugin has been updated officially.

[2015-09-16 13:57] aderaaij commented on #21
Your welcome guys. thx Chris for the great plugin. I couldn't PHP my way out of a paper bag so without this plugin I would've been nowhere.

Oh just for the record, there's a PR for this same issue in this repo. It does the same as my changes, albeit a bit different: https://github.com/times/acf-to-wp-api/pull/22

[2015-09-17 12:12] chrishutchinson commented on #21
Hey all,

This should now be fixed. I've added a new release in GitHub and pushed the changes to the WordPress Plugin repository!

Please re-open this issue if I missed anything, and thanks again for all your help!

[2015-09-17 12:12] #21 closed

[2015-09-17 15:12] nevace commented on #21
Hey @chrishutchinson, thanks for updating, although I just updated the plugin and can't see any acf data anymore.

[2015-09-18 11:55] richardmax commented on #21
@chrishutchinson https://github.com/chrishutchinson worked like a charm
for me chris - thanks! r

:::::::::::::::::::::::

Richard Max
07882 259888

Sent from mobile

On 17 September 2015 at 16:12, Liam Neville notifications@github.com
wrote:

[2015-09-18 11:59] aderaaij commented on #21
yup, works like a charm dude, thanks. I'll kill my fork! (strange sentence indeed).

[2015-09-28 03:10] josephclawrence opened #26 "Retrieve ACF for custom post in WP REST API V2"
I can't seem to retrieve ACF for a custom post type of mine, using v2 of the REST API plugin. I have included 'show_in_rest' in the registration of my custom posts, and I can retrieve an individual custom post at /wp-json/wp/v2/post-type-slug/{id} but then there is no ACF endpoint it seems. The description of this plugin says you should be able to retrieve ACF for custom post types, can you offer

[2015-09-28 03:19] #26 closed

[2015-09-28 07:32] chrishutchinson commented on #26
Hey @josephclawrence, I'm hoping that you were able to sort this given you've closed the issue.

Let me know if not!

[2015-09-28 07:35] chrishutchinson commented on #18
Hey @cpeddecord,

This has cropped up before in #16 and I made the call not to include those fields for various reasons, which I've listed in that issue log.

Hopefully that doesn't prevent you from using the plugin, particularly as my suggested approach is to make a secondary request to the WP-API to get that data.

[2015-09-28 07:35] #18 closed

[2015-09-28 07:36] josephclawrence commented on #26
I was, I was being an idiot - usually the way with these things. No problem
with what you have created at all. Thanks very much!

On Mon, Sep 28, 2015 at 4:32 PM, Chris Hutchinson notifications@github.com
wrote:

##

Director
Clickshape (Pty) Ltd
www.clickshape.com
Twitter http://www.twitter.com/josephclawrence | LinkedIn
http://www.linkedin.com/in/josephclawrence | Website
http://www.clickshape.c

[2015-09-28 08:58] Jeger opened #27 "ACF Image size"
Hi.
First of all, thank you for creating this plugin!

At the moment, when i have a image field in acf , only the full size source is given to the json.
Should urls for all image sizes be added to the json?

Maybe with all the fields that wp-api usually gives you with an attachment?

[2015-09-28 09:31] chrishutchinson commented on #27
Hey @Jeger,

You should be able to do this by changing your ACF configuration for image fields. See the "Return Value" setting within the field. When set to "Image Object" you'll get an object containing all the field sizes, not just the URL.

<img width="584" alt="ACF Image Return Value" src="https://cloud.githubusercontent.com/assets/1573022/10132024/19bc834c-65cc-11e5-85ce-5eb80630e0c1.png">

C

[2015-09-28 12:04] halvardos commented on #27
Ah, i'm so sorry to waste your time.

Thank you so much for developing this plugin, and answering stupid questions :smile:

[2015-09-28 12:04] #27 closed

[2015-09-28 18:30] NBibikov opened #28 "Different type of response"
Hi! Thanks for plugin!

I want get url for category with ACF to WP API, but have problem. When data exist, plugin send through JSON - dictionary, when not - bool value. How it can fix? I need response with dictionary in both situation

[code]

[code]

[2015-09-28 19:37] chrishutchinson commented on #28
Hey @NBibikov,

I'm not sure I entirely understand what you're expecting, could you post your ACF configuration so I can re-produce it locally? It'd be good to know what you're expected output is too.

Thanks!

[2015-09-30 06:50] kala725 opened #29 "How can I search in WP-API for a custom field"
like we are searching for any post title as

wp-json/wp/v2/posts/?filter[name]=<filter-title>

Then how to search for acf

I tried
wp-json/wp/v2/posts/?filter[meta_key]=field_name&filter[meta_value]=filter_value

But no success.... Can you please help???

[2015-10-01 17:32] chrishutchinson commented on #29
Hey @kala725,

This was possible in v1 of WP-API by following my suggestion in issue #13, however I suspect that's changed in v2 of WP-API, which it looks like you're using.

I'll try and find some time in the coming days to take a look at this, and hopefully get an alternative answer for you!

[2015-10-05 09:18] richardmax opened #30 "If you install on a multisite and run plugin it breaks the standard '/posts' and '/customposts' queries if activated on a child site."
Interesting point is that all is ok on the parent site (first site created in network).

Error is that you get no content returned even if it exists. only becomes visible when you deacrticate acf-wp-api plugin.

[2015-11-01 17:57] harrythree opened #31 "Custom Post Types"
I'm using V2 of the WP-API and I'm trying to get my custom post types. I'm using Version: 1.3.2 of acf-to-wp-api.

I tried making a request with Postman to this endpoint...

http://localhost:8888/wp-json/wp/v2/car

With 'car' being my custom post type of course. But I get this response...

[code]

I found this blog post that goes through setting up getting custom post types with WP-API V2 (https:/

[2015-11-02 08:39] chrishutchinson commented on #31
Hey @harrythree,

Can you also share the code where the custom post type is registered? I'll do some testing and see if I can recreate the issue you're having!

[2015-11-02 19:32] harrythree commented on #31
@chrishutchinson The custom post type was created using the Custom Post Types UI plugin

https://wordpress.org/plugins/custom-post-type-ui/

So I'm not actually registering myself, the plugin registers them for me. Maybe that's the problem?

[2015-11-09 12:23] chrishutchinson commented on #29
Having come across this myself recently, it looks like you have to enable filtering by `meta_key` and `meta_value`.

This post explains pretty well: https://1fix.io/blog/2015/07/20/query-vars-wp-api/

[2015-11-19 10:19] isvaljek opened #32 "ACF false for Archive of custom post type"
I have two custom post types. One is displaying acf property on both single and archive endpoints.
The other is showing acf only on single endpoint.
They're almost identical in register_post_type.
$labels = array(
		"name" => "FTP connections",
		"singular_name" => "FTP connection",
		);

	$args = array(
		"labels" => $labels,
		"description" => "",
		"public" => true,
		"show_ui" => true,
		"has_

[2015-11-20 06:52] nine-2-five commented on #32
It seems that my posts created with REST api had the meta fields, but I needed to press the update post button in admin for them to register with ACF.
If anyone knows a REST workaround for this update button pressing I'd be glad to hear.

[2015-11-23 23:05] evvvritt opened #33 "Image sizes wrong keys and wrong dimensions"
Hi, I'm interested in this plugin but I'm finding that it's not assigning the proper keys to image sizes.

Notice in the attached image that the "full"/original file is listed under "medium-large" and that the "large" dimensions are incorrect (actual dims in url).

That "sizes" object is inside a 'acf gallery' inside a 'acf flexible content' field.

![image](https://cloud.githubusercontent.com/ass

[2015-12-10 10:25] redacherifi opened #34 "How can I update a post in rest with their ACF?"
Hi,

First of all, very good work with this plugin Chris!
I have read some topics about that but have you find a solution about how create a post in rest with their advanced custom field?
Is it a WP REST API "problem" or can I fix it into your script?

Thx
Réda.

[2015-12-11 09:18] ghost commented on #34
Edit: I currently use the **update_field() function** of the ACF plugin to add manualy my custom field in the data response of the controller. Now, I can **POST/PUT (create/update)** my ACF fields with WP REST REST.

Réda.

[2015-12-17 12:53] fabioquarantini opened #37 "ACF not showing in Custom Post Type"
Hello
Thanks for this great plugin.
I'm having trouble retrieving the acf fields in my cpt response.
Currently im making this call:
GET http://website.com/wp-json/v2/locals/<id>
the "acf" field is not displaying.

This is what I added in my functions.php
[code]
Any suggestion?

[2015-12-18 19:35] matiyin commented on #37
Sadly I have the same issue. I made a project 2 weeks ago with exactly the same setup/plugins but the 'acf' part is not showing in json, whatever I try to debug. The CPT code in functions.php is identical, a real mystery. I use this part in the create CPT code in functions.php, same as your filter basically:
    'show_in_rest'       => true,
    'rest_base'          => 'cities-api',
    'rest_cont

[2015-12-21 02:25] EugeneLiang commented on #34
@redacherifi hey great work! just curious, where do you use the update_field() function ? within WP-API or somewhere else ?

Cheers

[2015-12-21 08:28] ghost commented on #34
@EugeneLiang It depends what type of object you will create/edit with REST.
For example, if you want update an ACF field on your **post**, edit the _/rest-api/lib/endpoints/class-wp-rest-posts-controller.php_ and add the ACF's function **update_field()** on the method **prepare_item_for_database()**.

[2015-12-21 09:06] EugeneLiang commented on #34
@redacherifi can this technique be used for creating acf fields too?

[2015-12-21 09:21] ghost commented on #34
@EugeneLiang update_field() can only change the value of an existing field linked to a post/user... with its key/name. It supose you have already created your ACF field from the backoffice.

For more informations, check the doc : http://www.advancedcustomfields.com/resources/update_field

[2015-12-21 15:25] #34 closed

[2016-01-11 20:26] javierbarrera commented on #37
I just ran into a similar issue with one of our sites. We are using CPT-UI and the following versions of these plugins:
1. Custom Post Type UI 1.1.2
2. WP REST API 1.2.4
3. ACF to WP API 1.3.2
4. Advanced Custom Fields Pro 5.3.2.2

Locally we updated the plugins to the following versions:
1. Custom Post Type UI 1.1.3
2. WP REST API 1.2.5
3. ACF to WP API 1.3.3
4. Advanced Custom Fields Pro 5.3.2.2

[2016-01-15 12:01] tr33m4n commented on #37
Any updates on this? Experiencing the same issue :(

[2016-01-15 15:39] javierbarrera commented on #37
I ended up migrating to WP-API 2 Beta 10. There were some significant changes we had to make on our end for our code to work.

An FYI, we had to visit (not save or update, only visit) the Settings > Permalinks page once the WP-API 2 plugin was installed for the new routes to register. Not sure why we had to do this, but we hit our heads for about 2 hours trying to figure out why the new endpoints

[2016-01-22 16:12] javierbarrera commented on #31
Try going to Settings > Permalinks page once the WP-API 2 plugin is installed. I had to do this for the new routes to register. Not sure why we had to do this, but we banged our heads for about 2 hours trying to figure out why the new endpoints weren't present. This happened on both our staging and production sites.

[2016-02-01 13:01] jasonagnew opened #40 "Filtering of option fields"
Great work on the plugin. I was wondering if it would be worth having a way to filter the option fields, like you do with the standard `rest_prepare_x`. Maybe adding the filter to `addACFOptionRouteV2cb`

`return apply_filters( 'rest_prepare_acf_options', $request, $fields, $option );`

Allowing you to do:

[code]

Above is an example of removing any field in the options with a prefix of `_private

[2016-02-03 02:51] amfriedman opened #41 "PHP notice about undefined constant (v1.3.3)"
I have v1.3.3 of this plugin installed. Wordpress core v4.3

On every page there is a PHP error about an undefined constant.

<b>Notice</b>:  Use of undefined constant REST_API_VERSION - assumed 'REST_API_VERSION' in <b>/var/www/courtdocs/public/wp-content/plugins/acf-to-wp-api/acf-to-wp-api.php</b> on line <b>41</b>

[2016-02-04 17:06] chrishutchinson commented on #41
Hey @amfriedman, I've seen this crop up a few times since the REST API code was moved into core in WordPress 4.4.

If you're able to update to WordPress 4.4, that should help alleviate the issue. If not, let me know and I'll see if I can reproduce and provide a fix!

[2016-02-09 09:56] pwlarry commented on #13
@yougotashovel did you figure this out at all? I can't find any way to do it easily.

[2016-02-22 07:06] DatTran opened #43 "Get all Posts?"
Is there a way get all posts?

``
wp-json/acf/v2/posts
``

[2016-02-22 11:25] chrishutchinson commented on #43
Hey @DatTran,

This should be done by the normal REST API plugin, see http://v2.wp-api.org/reference/posts/

[2016-02-22 11:25] #43 closed

[2016-03-02 05:42] ryanbeymer commented on #37
For me it was setting 'public' => true, on the registration of the cpt.

[2016-04-12 23:31] timkoeck opened #44 "Media attachment meta output incorrect for ACF gallery"
Hi there,
firstly thank you very much for this awesome plugin. It generally works like a charme and makes working with acf custom fields and the REST API so comfortable!

I might have noticed an issue. Correct me if I am wrong ;)

I am using ACF Pro and added a gallery field
![1](https://cloud.githubusercontent.com/assets/12733473/14478502/ae056b3c-0116-11e6-82f3-2719036c20c2.png)

In the next ste

[2016-04-12 23:57] sheriffderek commented on #44
How did you go about adding the media attachment fields?

[2016-04-13 00:08] timkoeck commented on #44
I also used ACF. Just created a new field group and set file attachment as the rule for where to display.
You can take a look at the screenshot (sorry, it is german)...

<img width="522" alt="screenshot 2016-04-13 02 12 29" src="https://cloud.githubusercontent.com/assets/12733473/14479218/a35c8188-011c-11e6-8200-a12f06971104.png">

[2016-04-15 20:52] timkoeck commented on #44
Am I doing something wrong? I just implemented the same setup for another project where I am using php to fetch the data. This works as expected. I am fetching the gallery data firstly and in the next step I loop over the image entries. Each image entry has the two parameters.

[code]

[2016-04-19 15:57] mattboutet commented on #13
This is still linked from the FAQ at https://wordpress.org/plugins/acf-to-wp-api/faq/ but doesn't seem to work in recent versions of Wordpress.  I found this thread in the plugin's support forum and updated it with my working solution: https://wordpress.org/support/topic/filter-not-filtering

[2016-04-20 08:11] daggemarren opened #45 "Update 1 item in array without erase everything else"
Hi, how can i update salary for "Charlotte Doe" without erase "Chris Doe" and without send in all information for both Employees?

[code]

[2016-04-24 14:33] mcrider opened #46 "Possible to group ACF output by ACF field group"
Is it possible to group fields in a post's JSON by the ACF field group?  When I request my post's JSON through wp-api i get a flat list of fields underneath `acf`.  I need something grouped so i can determine what module to display in my front-end but also there is a practical concern of fields from different field groups with the same name overriding each other in the output.

[2016-04-24 17:39] sheriffderek commented on #46
Can you post some example JSON for that? I often use name spaced style property names - but haven't run into this yet. It would definitely have me adjusting my practices.

`description` for "item" and `description` for "product"  --- I would rather not `product.product_description` - if possible / for readability and feels so redundant when there are 10+ fields.

[2016-04-24 18:00] mcrider commented on #46
Actually, I just tested it out, and it seems that ACF itself won't accept the same field name in different field groups.  I.e. if you have the field 'headline' in two different field groups on the same post, whatever value you enter in the last one will be saved to that and the other headline field.  Yikes!

I guess I have to namespace the field names themselves.  I can see your point about redund

[2016-04-24 19:06] sheriffderek commented on #46
I just checked my stuff - and I guess I actually did prefix the field names the whole time. I just change their Titles in for the admin to look pretty.

[2016-04-24 21:01] mcrider commented on #46
Thanks for helping me clear it up.  Gonna close this.

[2016-04-24 21:01] #46 closed

[2016-04-30 02:05] pudgereyem opened #47 "acf-to-wp-api + jp-rest-cache not working"
I'm testing out https://github.com/bkirby989/jp-rest-cache (the version that @bkirby989 provided) together with this plugin – and I found that the custom fields does not get added when using the cache plugin.

*jp-rest-cache* uses filter `rest_pre_dispatch` while ​*acf-to-wp-api*​ uses filter `rest_api_init`. Does someone have a clue why the response that ​*jp-rest-cache*​ gives doesn't include th

[2016-05-11 22:26] danielbachhuber opened #48 "Consider integration tests for your WP REST API endpoints"
Hi!

On behalf of [Pantheon](https://pantheon.io/), I'm [writing a tutorial](https://paper.dropbox.com/doc/You-absolutely-need-test-coverage-for-your-WP-REST-API-project-MKvKy9DzoTQ2HYhbyWBxM) on why integration tests are critical for your WP REST API endpoints, and how you can go about writing them.

Given your use of `register_rest_field()`, I think you could benefit from reading and applying th

[2016-05-14 15:14] mantismamita opened #49 "Writing ACF fields to WP API without clicking publish button"
I’m having a problem displaying the ACF fields in the api from dynamically created posts using `wp_insert_post()`

Here is the function I'm using to import the data as a custom post type:

[code]

I’m guessing I need to make the WP API writable to the ACF fields. They do display once I click the Publish button though but there are too many posts to do this.

[2016-05-19 01:10] xanderseren opened #50 "ACF data for 'Post Object'"
I'd like to display ACF data for the 'Post Object' field in the wp-api. At the moment it just spits out the basic post data.

[code]

This is what I want....
[code]

I guess I'd have to account for a potential infinite loop of referenced post objects. Anyone have any insight into how I can modify acf-to-wp-api to accomplish this?

[2016-05-26 16:26] karl-wednesday opened #51 ""acf" key set to false with Advanced Custom Fields PRO"
The plugin works great with the standard Advanced Custom Fields plugin, however as soon as I enable Advanced Custom Fields PRO the "acf" key on each object is set to false.  Deactivating the Advanced Custom Fields PRO plugin restores all of the data within the "acf" key.

I have input my serial number for Advanced Custom Fields PRO and the plugin is working as expected throughout the rest of my si

[2016-05-26 17:29] sheriffderek commented on #51
Maybe you need to disengage the non-pro version. You should only have one. : /  ? ?? ?

[2016-05-31 21:12] lmatab opened #52 "WP-API version number - Does it work in the Wp-APi v1?"
Hello all,

I am working  in  project  where I am retrieving  custom  post  type  data  from a wordpress  site and publishing it  into another.

I have a  WP-API v1  working  nicely, although  I did  create  a ACF and  I need  to retrieve  it  too.

Does this  plugging   is able  to   work  with  V1  of  WP-API ?

I tried to  use  V2 although the implementation to retrieve  custom  post  type  is

[2016-09-09 22:02] eljass commented on #33
Same problem here. How to change the keys' "-" to "_"?

[2016-10-03 23:01] SamThilmany commented on #37
In my case the ACF metabox shows up on the `posts` post type, but I'm unable to get it working with my CPT's. Whatever I try, the metabox won't show up.

Code of my CTP:

[code]

[2016-11-10 17:12] AymanEG commented on #45
Can you explain how you can uodate the whole array ?! because I am stuck at this point for now, I dont know how to pass the whole array (I am using php and CURL)

[2017-04-10 21:46] randycochran opened #55 "register_api_field has been removed as of WP 4.7"
New function name is register_rest_field - https://developer.wordpress.org/reference/functions/register_rest_field/

In case anybody else runs into an error for a call to the undefined function in 1.3.3 of this plugin, updating to the new function name immediately fixes the error.

[2017-04-10 21:46] randycochran commented on #55
Closing, as I see the PR for this.

[2017-04-10 21:46] #55 closed

[2017-04-13 20:21] pugson commented on #13
@yougotashovel Did you find out how to do this? I'm running into the same problem right now.

[2017-04-13 20:55] yougotashovel commented on #13
@dubstrike don't think i got it to work this way, had to restructure and simplify requests

[2017-05-02 21:49] lithiumlab opened #57 "404 on Wordpress 4.7.4"
I've seen in the README only supported up to 4.7.3
But letting you know i get a 404 when clicking on Activate on WP 4.7.4
No errors in the logs.

[2017-05-26 09:51] danielkoch commented on #51
I think you need to buy/add the add-on http://www.wpallimport.com/advanced-custom-fields/ if you want to import ACF fields with WP all import.

[2017-06-08 20:51] mitch-rickman commented on #49
I'm running into the same issue with a CSV importing script I am working on. Has anyone found any solutions?

[2017-06-12 19:26] chrishutchinson commented on #49
Hey @mantismamita, can you post a sample of your JSON? I'll run this myself and see if I can get a solution. I suspect it'll just be a case of linking up the correct hooks

[2017-06-13 20:22] mantismamita commented on #49
Hey @chrishutchinson I did get it working but I've since moved on to other projects and no longer have access to the code. @mitch-rickman if memory serves correctly I think I did an `update_post_meta()` instead of `update_field()`

[2017-06-14 22:26] mitch-rickman commented on #49
Thanks for the responses, @chrishutchinson & @mantismamita, I found a similar solve to as the one above. I was importing custom ACF fields, and the plugin I was using used update_post_meta(), which added the entries to the database, but it didn't link the value to the field. Using update_field() solved the issue.

I found this article which helped me come to this conclusion: https://support.advanc

[2017-08-24 15:19] sebastienfi commented on #37
:+1:

[2017-12-04 15:33] ciprianimike opened #58 "ACF inserted with update_field not shown in REST API"
On a new post programmatically inserted, if i user update_field() the REST API won't show ACF fields, an "empty field": false is returned, i have to use update_post_meta, no matter if i publish the post and empty the post cache.

$post_id=wp_insert_post( $new_post );

// UPDATE CUSTOM FIELD
//update_field( "weight", $weight, $post_id );
update_post_meta( $post_id, "weight", $weight );

//update_fi

[2017-12-06 15:42] andreacasali opened #59 "Order by ACF Date field on custom post"
Hi,

i tried with the following but it's not working at all:
`/wp-json/wp/v2/movie?filter[movie_type]=library&filter[orderby]=meta_value_num&filter[meta_key]=data_uscita&filter[order]=DESC`

where **data_uscita** is my ACF Date field and **library** the custom taxonomy term of the custom post **movie**.

I read the readme page and tested the code in Issue #13 but unfortunately with no results.

Ca

[2018-01-31 16:54] mgiraldo commented on #13
i am in a similar situation. this solution doesnt work on wordpress 4.9.2 and the one linked by @mattboutet didnt work for me either

[2018-01-31 17:16] mgiraldo commented on #59
did you manage to get this working?

[2018-01-31 17:30] mgiraldo commented on #13
ok so there's no support for `filter` any longer: https://developer.wordpress.org/rest-api/using-the-rest-api/frequently-asked-questions/#what-happened-to-the-filter-query-parameter and you have to use this plugin to get that functionality back: https://github.com/wp-api/rest-filter

[2018-01-31 18:32] mgiraldo commented on #13
never mind. i ended up doing a custom api endpoint for this. thanks.

[2018-05-18 16:39] okta2510 commented on #37
so this issue is still there? any solution for these?

[2019-03-30 20:07] ablanck opened #61 "Fatal error: uncaught error – can some help me to solve this issue?"
Fatal error: Uncaught Error: Call to undefined function get_field() in /home/.sites/869/site4366094/web/wavelife/wp-content/themes/proformat/functions.php:340 Stack trace: #0 /home/.sites/869/site4366094/web/wavelife/wp-settings.php(479): include() #1 /home/.sites/869/site4366094/web/wavelife/wp-config.php(90): require_once('/home/.sites/86...') #2 /home/.sites/869/site4366094/web/wavelife/wp-load

[2019-04-01 06:05] klaudiomilankovic commented on #61
Do you have Advanced Custom Fields plugin installed and activated?

[2020-03-12 15:26] InsitesDigital-MO opened #62 "No acf field in custom taxonomies"
I had the issue where custom taxonomies weren't showing the 'acf' field to retrieve data from custom fields.

Would you be able to patch your plugin to include this at some point.

Other than that, it's great plugin. 🙌🏻

I've added a temporary fix in place:

`$types = get_taxonomies(array(
			'public' => true,
			'_builtin' => false
		));
		foreach($types as $key => $type) {
			register_rest_field

[2020-07-08 11:35] tolchai commented on #62
I have the same problem, where should i put the fix exactly? Thanks!

[2020-08-20 01:19] SamiSousa commented on #62
Seems that there's a PR that addresses this issue: https://github.com/times/acf-to-wp-api/pull/42

[2020-11-15 20:04] geochanto commented on #58
I'm running into this as well, I've set up [bidirectional relationships](https://www.advancedcustomfields.com/resources/bidirectional-relationships/), and when one post type is updated, the other one's field value does get updated in WP, but not in rest APIs until the other post is re-published.

[2021-02-06 05:28] erasmoh commented on #37
Still no fix about this? I have the same issue.

[2021-02-06 09:13] erasmoh commented on #37
You just have to add this to functions.php `$post_types = array_merge(get_post_types(), cptui_get_post_type_slugs());

foreach ($post_types as $type) {
	add_filter(
		'acf/rest_api/' . $type . '/get_fields',
		function ($data, $response) use ($post_types) {
			if ($response instanceof WP_REST_Response) {
				$data = $response->get_data();
			}

			array_walk_recursive($data, 'get_fields_recursive'

[2021-02-06 09:14] erasmoh commented on #37
I just found this solution. You just need to add this code to your functions.php and it would show all your post object ACF API.

[code]